<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="installation-page"><h3 id="quick-start">Quick Start</h3>
<p>To get started the following prerequisites are to be installed.</p>
<h4 id="quick-start_1)-install-nodejs">1) Install NodeJs</h4>
<p>Node.js is a runtime environment and a library for running applications written in JavaScript 
outside the browser (for example, on the server).</p>
<p><a href="http://nodejs.org/download/">Download</a></p>
<h4 id="quick-start_2)-install-git">2) Install Git</h4>
<p><a href="http://git-scm.com/downloads">Download</a></p>
<h4 id="quick-start_3)-install">3) Install <a href="http://gruntjs.com/">Grunt</a> and <a href="http://bower.io/">Bower</a></h4>
<pre><code>$ npm install -g grunt-cli bower</code></pre>
<h4 id="quick-start_4)-clone-the-pro-angular-yeoman-repository-to-your-local-machine">4) Clone the pro-angular-yeoman repository to your local machine</h4>
<pre><code>$ git clone https://github.com/Ashwin2488/pro-angular-yeoman.git</code></pre>
<p>This will create your application skeleton with some existing controllers and services.</p>
</div></div>
