<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="installation-page"><h3 id="quick-start">Quick Start</h3>
<p>To get started with Angular Skeleton ,ensure the following prerequisites are installed.</p>
<h4 id="quick-start_install-nodejs">Install NodeJs</h4>
<p>Node.js is a runtime environment and a library for running applications written in JavaScript 
outside the browser (for example, on the server).</p>
<p><a href="http://nodejs.org/download/">Download from here</a></p>
<h4 id="quick-start_install-git">Install Git</h4>
<p><a href="http://git-scm.com/book/en/Getting-Started-Installing-Git">Download</a></p>
<h4 id="quick-start_install">Install <a href="http://gruntjs.com/">Grunt</a> and <a href="http://bower.io/">Bower</a></h4>
<pre><code>$ npm install -g grunt-cli bower</code></pre>
<h4 id="quick-start_clone-the-pro-angular-yeoman-git-repository">Clone the pro-angular-yeoman git repository</h4>
<pre><code>$ git clone https://github.com/Ashwin2488/pro-angular-yeoman.git</code></pre>
<p>This will clone angular skeleton with some existing sample controllers and services.</p>
</div></div>
