<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="folder-structure-page"><h2 id="folder-structure">Folder structure</h2>
<p>The folder structure of the application skeleton looks like below</p>
<p><img class="diagram" src="img/tutorial/folder-structure.png" width="488" height="413" alt="folder structure"></p>
<h4 id="folder-structure_app">app</h4>
<ul>
<li>This is your application folder that contains all  assets like scripts,styles and images.</li>
<li>Mostly you will have to modify only the files and folder inside this directory 
were you will spent most of your time in developing.    </li>
</ul>
<h4 id="folder-structure_node_modules">node_modules</h4>
<ul>
<li>Application dependent node modules that are required in the development stage to run grunt ,karma ,etc.</li>
</ul>
<h4 id="folder-structure_bowerjson">bower.json</h4>
<ul>
<li>Bower configuration file containing the list of front-end frameworks used by your application.</li>
</ul>
<h4 id="folder-structure_gruntfilejs">Gruntfile.js</h4>
<ul>
<li>One of the important file to make your build process easy and efficient </li>
</ul>
<h4 id="folder-structure_karmaconfjs">karma.conf.js</h4>
<ul>
<li>Karma configuration file to run your unit tests.</li>
</ul>
<h4 id="folder-structure_karma-e2econfjs">karma-e2e.conf.js</h4>
<ul>
<li>Karma e2e testing config for integration testing.</li>
</ul>
<h4 id="folder-structure_packagejson">package.json</h4>
<ul>
<li>Helper file for NPM to manage your project dependency. </li>
</ul>
<h4 id="folder-structure_appjs">app.js</h4>
<ul>
<li>Defines the module that contains all your sub modules as a dependency and is assigned to your ng-app directive.
Also can contain manual bootstrap,config,route definitions.    </li>
</ul>
</div></div>
