<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="running-your-application-page"><h2 id="running-your-application">Running your application</h2>
<p>There are so many ways to serve your application for testing.Some of them are</p>
<ul>
<li>using <code>grunt serve</code>,a preconfigured grunt task that starts a web server using node http module</li>
<li>place your application folder inside your web server public directories(e.g www/ folder if nginx or htdocs/ in apache etc. )</li>
<li>If using Brackets IDE or some other supported IDE you can directly start your testing server from the available options.</li>
</ul>
<h4 id="running-your-application_using-grunt-serve">Using grunt serve</h4>
<p><code>Serve</code> is a custom task most commonly used to serve your application over http.
Usually running this task starts some additional tasks to ease your developemnt such as</p>
<ul>
<li>watches any changes in your assets and reloads the page automatically.(fully configurable)</li>
<li>additional tasks such as injector,ngtemplates etc can be added as a prerequisites</li>
</ul>
<pre><code>$ grunt serve</code></pre>
</div></div>
