<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="roadmap-page"><h2 id="roadmap">Roadmap</h2>
<ul>
<li>Improve documentation with live examples for directives and filters</li>
<li>Add more use case for directives and filters</li>
<li>Unit test cases for directives, services and filters</li>
<li>Automated integration testing with protractor.</li>
<li>gulp support</li>
<li>Examples using 3rd party libraries like angular - bootstrap , angular - ui ,etc.</li>
</ul>
</div></div>
